.team{
    margin: 5vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
}

.team h2{
    font-size: 2vw;
}

.team p{
    font-size: 0.7vw;
}


.team-persons{
    display: flex;
    gap:1vw;
}

.team-person{
    width: 12vw;
    height: 12vw;
    font-size: 0.7vw;
    background: linear-gradient(268.12deg, rgba(254, 254, 255, 0.032) -11.04%, rgba(255, 255, 255, 0.018) 104.89%);
    box-shadow: 0px 1.5vw 1vw rgba(0, 0, 0, 0.05);
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1vw;
    border-radius: 1.5vw;
    font-weight: 400;
    backdrop-filter: blur(1vw);
}

.team-person h4{
    font-size: 1.2vw;
}

.team-person-socials{
    display: flex;
    justify-content: center;
    gap: 0.4vw;
}

.team-person-picture{
    width: 5vw;
}

.team-person-social{
    height: 1vw;
}