.footer-info{
    display: flex;
    gap: 1vw;
    font-size: 0.8vw;
    align-items: center;
    text-align: center;
}

.footer-logo-handler{
    font-size: 1.2vw;
}

.footer-info img{
    height: 1.2vw;
}

.footer-logo{
    height: 1.6vw !important;
}

.footer-row{
    gap:1vw;
    flex-direction: column;
}

.footer p {
    margin: 0 !important;
}

a{
    display: flex;
    gap:1vw;
    text-align: left;
    color: #fff !important;
    align-items: center;
}

.footer-handler{
    font-size:0.8vw;
    text-align: left;
    display: flex;
    gap: 4vw;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vw;
}

.footer-bottom{
    margin-top: 1vw;
    border-top: 0.02vw solid #969696;
    width: 99vw;
}

.footer-bottom-handler{
    font-size: 0.8vw;
    padding: 1vw 0 0;
    width: 53vw;
    left: 22.5vw;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.footer-bottom-text{
    display: flex;
    gap: 2vw;
}