*{
  font-family: 'DM Sans';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-weight: 400;
  text-decoration: none !important;
  outline: none!important;
}

h1{
  font-weight: 700;
  font-size: 1.8vw !important;
}

@font-face {
  font-family: 'Rubic';
  src: url('./fonts/Rubik-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'DM Sans';
  src: url('./fonts/DMSans-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'DM Sans';
  src: url('./fonts/DMSans-Medium.ttf');
  font-weight: 500 600;
}
@font-face {
  font-family: 'DM Sans';
  src: url('./fonts/DMSans-Bold.ttf');
  font-weight: 700 900;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

a{
  text-decoration: none;
}

.App {
  background-image: url('./img/bg.png');
  background-size:cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.col{
  transition: 0.1s;
}

.column-title{
  cursor: pointer;
}